In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('base_datos_2008.csv.bz2', nrows=100000)

In [13]:
#Cuantificar distancias y afirmar si hay relacion
#Afirmaciones globales ede correlaciones

#Cuando replique el codigo sera la misma random
np.random.seed(0)
#Subset con origenes listados
df = df[df["Origin"].isin(["HOU", "ATL", "IND"])]
#Reordenar el db con solo 10000 filas
df = df.sample(frac=1)
df = df[0:10000]

In [14]:
#Variable nueva igual a true cuando el valor es mayor a 30, un gran retraso
df["BigDelay"] = df["ArrDelay"] > 30

#Tabla de contingencia seleccionamos dos columnas, margins tambien se guardan

observados = pd.crosstab(index=df["BigDelay"],columns=df["Origin"], margins=True)

In [15]:
#N = 1000
observados

Origin    HOU  IND   All
BigDelay
False     807  110   917
True       78    5    83
All       885  115  1000

In [16]:
#Paquete para hacer el test chi cuadrado
from scipy.stats import chi2_contingency

In [17]:
test = chi2_contingency(observados)

In [18]:
#el objeto test
#1er valor: suma estadistica
#2do P valor: Medida toma decisiones base a criterio
test

(2.66673116283148,
 0.6150486549794081,
 4,
 array([[ 811.545,  105.455,  917.   ],
        [  73.455,    9.545,   83.   ],
        [ 885.   ,  115.   , 1000.   ]]))

In [20]:
esperados=pd.DataFrame(test[3])

In [21]:
#Teoricos, aproximacion para comparar
esperados

         0        1       2
0  811.545  105.455   917.0
1   73.455    9.545    83.0
2  885.000  115.000  1000.0

In [22]:
#Valores esperados relativos
esperados_rel = round(esperados.apply(lambda r:r/len(df) *100, axis=1), 2)

In [25]:
#Valores observados relativos
observados_rel = round(observados.apply(lambda r:r/len(df) *100, axis=1), 2)

In [26]:
observados_rel

Origin     HOU   IND    All
BigDelay
False     80.7  11.0   91.7
True       7.8   0.5    8.3
All       88.5  11.5  100.0

In [28]:
#Se deben mantener los margenes
esperados_rel

Origin     HOU   IND    All
BigDelay
False     80.7  11.0   91.7
True       7.8   0.5    8.3
All       88.5  11.5  100.0

In [30]:
#0.6, muy por encima, no podemos afirmar relacion entre variables
test[1]

0.6150486549794081

Resumen
Si el p-valor < 0.05, hay diferencias significativas, hay relacion entre variables

Si el p-valor > 0.05, no hay diferencias significativas, no hay relacion entre variables